body {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}

.container {
    flex: 1;
    /* height: 600px;
    width: 800px; */
    display: flex;
}

.output_canvas {
    /* flex: 1; */
    /* background-color: green; */
    position: absolute;
}

#qr-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    visibility: hidden;
}

#qrcode {
    position: absolute;
    top: 50%;
    left: 72.5%;
    right: 0;
    transform: translate(0, -50%);
}

#image-preview {
    position: absolute;
    top: 50%;
    left: 0%;
    right: 30%;
    transform: translate(0, -50%);
}

.image-preview-el {
    width: 100%;
    height: 100%;
}

#close {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 0);

    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}